*{
    box-sizing: border-box;
}

.section-padding{
    padding: 50px 0 ;
}


/* Header */
header .nav-container{
    background-color: #CCD4E0;
}


header nav .navbar-nav .nav-item{
    padding: 5px 0;
    transition: .4s;
}
header nav .navbar-nav .nav-item:hover{
    background-color: #012766;
}
header nav .navbar-nav .nav-item:hover .nav-link{
    color: white !important;
}
header nav .navbar-nav .nav-link{
    color: #012766 !important;
    font-weight: bold;
    transition: .4s;
}

header nav .social-container .icon{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #012766;
    border: 1px solid #012766;
    cursor: pointer;
}
header nav .navbar-toggler{
    border: none !important;
}

header nav .navbar-toggler:focus{
    box-shadow: none !important;
}
/* Header */

/* Leader section */

.leader .title{
    color: #BC133E;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.leader .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: 1px;
    transform: translateX(-50%);
    width: 20%;
    background-color: #BC133E;
}

/* Leader section */

/* analysis */
.analysis{
    background-color: #012766;
}
.analysis .number{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0  !important;
    font-family: 'Merriweather', serif;
}

/* analysis */

/* About Us */

.about-us{
    
}

.about-us .about-us-img{
    width: 90px;
    margin: auto;
}

.about-us .line{
    width: 1px;
    height: 20px;
    background-color: black;
    margin: auto;
}

.about-us .about-text{
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 0 !important;
}

/* About Us */

/* contact us */
.contactus {
    background-color: #0061BC;
    color: white;
}

.contactus .contact-content{
    text-align: center;
    max-width: 516px;
    margin: auto;
}
.contactus input,
.contactus textarea{
    background-color: transparent ;
    border: none;
    border-bottom: 1px solid white;
    width: 60%;
    
}

.contactus input:focus,
.contactus textarea:focus{
    outline: none;
}
.contactus input::placeholder,
.contactus textarea::placeholder{
    color: white;
}

.contactus select {
    background-color: transparent ;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white;
    color: white;
    width: 60%;
    padding : 1px 2px;
}
.contactus select:focus {
    outline: none;
}


/* contact us */

/* gallery */
.gallery .title{
    color: #BC133E;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.gallery .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;
    height: 1px;
    transform: translateX(-50%);
    width: 20%;
    background-color: #BC133E;
}

.gallery .img-container {
    width: 1000px;
}

@media (min-width : 992px) and (max-width : 1200px) {
    .gallery .img-container {
        width: 850px;
    }
}
@media (min-width : 768px) and (max-width : 992px) {
    .gallery .img-container {
        width: 750px;
    }
}

@media (max-width : 500px) {
    .gallery .img-container {
        width: 380px;
    }
}
/* gallery */

/* footer */
.footer{
    background-color: #3B3B3B;
}

.footer .copyright .icon{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin-left: 10px;
}
/* footer */